@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "facon";
  src: url("/assets/facon.bold-italic.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #1230ae;
}

.teQAzf {
  margin: 0;
  max-width: 90%;
}

/* body {
  font-family: "Poppins", sans-serif;
} */
body {
  font-family: "Poppins", sans-serif;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar {
  width: 10px;
  /* background: green; */
  /* background: transparent;  */
}

.facon {
  font-family: "facon";
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.marquee-content span {
  display: inline-block;
  padding-right: 2rem; /* Adjust the gap between the spans */
}

.shapes {
  width: 44.8px;
  height: 44.8px;
  color: #474bff;
  background: linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: 23.4px 23.4px;
  background-repeat: no-repeat;
  animation: shapes-53h9rpmd 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes shapes-53h9rpmd {
  0% {
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
  }

  33% {
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
    width: 67.2px;
    height: 67.2px;
  }

  66% {
    background-position:
      100% 0,
      100% 100%,
      0 100%,
      0 0;
    width: 67.2px;
    height: 67.2px;
  }

  100% {
    background-position:
      100% 0,
      100% 100%,
      0 100%,
      0 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
